/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;

  /* Colors */
  --first-color: rgb(0, 0, 0);
  --second-color: #000; /* Define this to avoid issues */

  /* Typography */
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;

  /* Margins */
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /* z index */
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Base section styles */
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/* Alternating background colors */
.section:nth-of-type(odd) {
  background-color: #f9f9f9; /* Light background for odd sections */
}

.section:nth-of-type(even) {
  background-color: #ffffff; /* White background for even sections */
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: hsl(224.57deg 57.38% 11.96%);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem; /* Original value for desktop */
  background-color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .section-title::after {
    top: 2.5rem; /* Adjusted value for mobile view */
  }
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/

/* Top Navigation Bar */
.top-nav {
  background-color: #333; /* Background color of the top nav */
  color: white; /* Text color */
  padding: 0.5rem 1rem; /* Padding to give some space around the text */
  display: flex;
  justify-content: flex-end; /* Aligns the content to the right */
  font-size: 0.875rem; /* Font size slightly smaller than the main nav */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it is above other content */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Ensures main content is not hidden behind top navigation */
body {
  padding-top: calc(var(--header-height) + 2.5rem); /* Adjusted this value based on the height of the top-nav */
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  margin-top: 2.5rem; /* Ensure there's space for the top-nav */
}

/*===== MAKING MY NAV MENU WORK MOBILE =====*/
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: calc(var(--header-height) + 2.5rem); /* Adjust for top-nav height */
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: hsl(0deg 0% 20%);
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*Nav logo styling*/
.nav__logo img {
  height: 55px; /* Increase the height to make the logo bigger */
  width: auto; /* Maintain aspect ratio */
  margin-right: 1rem; /* Adjust space between the logo and menu items */
}

.nav {
  height: 60px; /* Ensure the navbar height accommodates the larger logo */
  padding: 0; /* Remove extra padding to maximize space for the logo */
  display: flex;
  align-items: center; /* Center-align the logo vertically */
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu => displays my menu to the right side of the page ===*/
.show {
  right: 0;
}

/*===== HOME =====*/

.home-background {
  background-image: url('/assets/img/cover-image.png'); /* Adjusted path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh; 
}


.home {
  position: relative;
  row-gap: 2rem; /* Reduce the gap between title and social icons */
  padding: 4rem 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: #fff;
}

.home__social {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Add a small gap between social icons */
  justify-content: center; /* Center the social icons horizontally */
  margin-top: var(--mb-2); /* Adjust the margin for spacing */
}

.home__social-icon {
  width: max-content;
  font-size: 1.5rem;
  color: var(--second-color);
  transition: color 0.3s; /* Add transition for a smooth effect */
}

.home__social-icon:hover {
  transform: scale(1.2);
  color: #ffffff; /* Adjust the hover color */
}

.header-logo img {
    max-width: 250px; /* Adjust this value to resize the logo */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any extra space below the image */
    margin: 0 auto; /* Center the logo if needed */
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: hsl(80deg 3.3% 82.16%);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  background-color: #333; /* Change to your desired hover background color */
  color: #fff; /* Change to your desired hover text color */
}

/* ===== ABOUT =====*/
.about {
  padding: 20px;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.9s;
}

@keyframes fade {
  from { opacity: .4 }
  to { opacity: 1 }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text { font-size: 11px }
}

/* About section content */
.about__container {
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
}

.about__subtitle {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.about__text {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .about__container img,
  .about__container video {
    width: 48%; 
  }
}

/* ===== SKILLS =====*/
.skills-section {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    color: #333;
}

.services-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    text-align: center;
}

.services-list li {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    color: #444;
}

@media (max-width: 768px) {
  .card {
    width: calc(33.33% - 20px);
  }
}

/* ===== WORK ===== */

.work__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.work__item {
  text-align: center;
}

.work__img {
  width: 350px;  /* Set the desired width */
  height: 200px; /* Set the desired height */
  object-fit: cover; /* Ensures images fit into the rectangle without distortion */
  margin-bottom: 1rem;
  border-radius: 8px; /* Optional: Add some rounding to the corners */
}

.work__subtitle {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--first-color);
}

.work__text {
  font-size: var(--normal-font-size);
  color: var(--second-color);
}


/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
  transition: background-color 0.3s ease-in-out; /* Add smooth transition */
}

/* ===== FOOTER =====*/
.footer {
  background-color: hsl(100deg 3.3% 82.16%);
  color: #000000;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0; /* Adjusted padding for better spacing */
}

.footer__logo {
  display: block;
  margin: 0 auto;
  width: 200px; /* Adjusted width for a larger logo */
  height: auto;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #000000;
  margin: 0 var(--mb-2);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}

/* ===== CAROUSEL ===== */
.small-carousel {
  position: relative;
  width: 300px; /* Adjust width as needed */
  overflow: hidden;
}

.carousel-container {
  overflow: hidden;
  white-space: nowrap;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  height: auto;
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
  transform: translateY(-50%);
}


.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
}

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .skills__container {
    grid-template-columns: .7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: hsl(224.57deg 57.38% 11.96%);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
}
